# UFRN Analytics

### Cruzamentos entre dados de Ensino, Pesquisa e Extensão

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.plotly as py
from plotly.graph_objs import *

In [4]:
projetos = pd.read_csv('projetos-de-pesquisa.csv',delimiter='\";\"')

def correct (word):
    word=str(word)
    return word.replace('\";',"").replace("\"","")

projetos['area_conhecimento_cnpq'] = projetos['area_conhecimento_cnpq";'].apply(correct)
projetos['codigo_projeto'] = projetos['"codigo_projeto'].apply(correct)

projetos.drop(['"codigo_projeto', 'area_conhecimento_cnpq";'], axis=1, inplace=True)

projetos = projetos[projetos['ano']=='2016']

projetos.head(1)

/home/ycaro/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,titulo,palavras_chave,situacao,ano,data_inicio,data_fim,tipo_projeto,unidade,coordenador,edital,grupo_pesquisa,linha_pesquisa,area_conhecimento_cnpq,codigo_projeto
737,Prevalência de parasitoses intestinais em esco...,"parasitos gastrintestinais, diagnóstico, anemi...",EM EXECUÇÃO,2016,2016-08-01,2017-07-31,INTERNO,DEPARTAMENTO DE MICROBIOLOGIA E PARASITOLOGIA,LILIAN GIOTTO ZAROS DE MEDEIROS,(2016) Edital N° 01/2016 - Edital de Bolsas de...,////,Parasitologia e Produção Animal,Helmintologia de Parasitos,PIA12930-2016

In [12]:
# import dataset
atividades = pd.read_csv('atividades-de-extensao.csv', delimiter = ";")
# drop some unnecessary columns and lines
atividades = atividades[atividades['tipo_projeto']=='EXTENSÃO']
atividades.drop(['Unnamed: 16', 'Unnamed: 17'], axis=1, inplace=True)
# correct this line
atividades.loc[atividades['data_fim']=='3016-12-18','data_fim'] = '2016-12-18'
atividades.loc[atividades['data_fim']=='2107-12-31','data_fim'] = '2017-12-31'
# select 2016
atividades = atividades[atividades['ano']=='2016']
# show the first line
atividades.head(1)

,ano,tipo_atividade,titulo,data_inicio,data_fim,coordenador,area_tematica,situacao,tipo_projeto,bolsas_solicitadas,bolsas_concedidas,publico_interno,bolsas_edital,numero_edital,edital,municipio
1716,2016,CURSO,III Fórum de Bioética de Natal,2016-11-04,2016-11-05,ALESSANDRA KARLA FONSECA ELIAS COUTINHO RODRIGUES,DIREITOS HUMANOS E JUSTIÇA,AGUARDANDO APROVAÇÃO DOS DEPARTAMENTOS,EXTENSÃO,0,0,20,NaN,NaN,NaN,NaN

In [18]:
turmas161 = pd.read_csv('turmas20161.csv',delimiter=';')
turmas162 = pd.read_csv('turmas20162.csv',delimiter=';')
turmas = turmas161.append([turmas162])
turmas = turmas[(turmas['nivelensino']=='STRICTO SENSU') | (turmas['nivelensino']=='GRADUAÇÃO')]
turmas.head(1)

,codigo,nome_ascii,nivelensino,ano,periodo,capacidade_aluno,local,data_inicio,data_fim,codigo_turma,...,observacao,distancia,tipo,data_consolidacao,agrupadora,qtd_aulas_lancadas,situacaoturma,convenio,modalidadeparticipantes,campusturma
1,DPU0212,DIREITO PROCESSUAL CIVIL III,GRADUAÇÃO,2016,1,55.0,Sala 1G4,2016-02-01,2016-06-18,01,...,NaN,f,1,2016-06-18 16:29:18.279,f,74.0,CONSOLIDADA,NaN,Presencial,Campus Central

In [19]:
turmas['nivelensino'].value_counts()

GRADUAÇÃO        13272
STRICTO SENSU     3206
Name: nivelensino, dtype: int64

In [20]:
turmas.columns

Index(['codigo', 'nome_ascii', 'nivelensino', 'ano', 'periodo',
       'capacidade_aluno', 'local', 'data_inicio', 'data_fim', 'codigo_turma',
       'descricao_horario', 'observacao', 'distancia', 'tipo',
       'data_consolidacao', 'agrupadora', 'qtd_aulas_lancadas',
       'situacaoturma', 'convenio', 'modalidadeparticipantes', 'campusturma'],
      dtype='object')